body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.earned{
	text-align: center;
}
input{
	text-align: center;
}
.project_container{
	height:50px;
	width:75%;
	box-shadow: 10px 10px 5px #888888;
	background-color:#FFFF00;
	margin: 0 0 3px 0;
}
.ul_header{
	list-style-type: none;
}