.container{
	display: block;
	position: absolute;
	margin: -150px 0 0 -150px;
	left:50%;
	top:50%;

}
form{
	height:50%;
	width:40%;
	display: table;
	margin: 0 auto;

}
.form-header  {
/*	*/
	height:40px;
	background-color: #6495ED
}
img{
	display: block;
	margin:auto auto;
}
p{
	float: right;
}
