doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/money_save.js')
    script(src='/javascripts/project.js')
    script(src='/javascripts/react.js')
    script(src='/javascripts/react-dom.js')
    script(src='/javascripts/browser.min.js')
    script(src='/javascripts/marked.min.js')
    script(src='/javascripts/React/app.js' type='text/babel')

    

  body
    block content
    block project
    block view
